<!DOCTYPE html>
<html lang="es">
	<head>
		{% load static %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, intial-scale=1.0">

		<title>Vista de Catalogo</title>

		<!-- scripts -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
		<script src="{% static 'js/Vista.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-latest.min.js' %}"></script>

		<!-- JQuery -->
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7js/jquery.min.js"></script>

		<!-- links -->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/Estilopag.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.min.css' %}">
		<!-- linkeos del fancy -->
		<link rel="stylesheet" href="{% static '/Vista/source/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="{% static 'source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="{% static 'source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
		<!-- scripts del fancy -->
		<script type="text/javascript" src="{% static './lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>
		<script type="text/javascript" src="{% static './source/jquery.fancybox.pack.js?v=2.1.7' %}"></script>
		<script type="text/javascript" src="{% static './source/helpers/jquery.fancybox-buttons.js?v=1.0.5' %}"></script>
		<script type="text/javascript" src="{% static './source/helpers/jquery.fancybox-media.js?v=1.0.6' %}"></script>
		<script type="text/javascript" src="{% static './source/helpers/jquery.fancybox-thumbs.js?v=1.0.7' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.js%22%3E"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.4.1/jquery.fancybox.min.css" />
		<script type="text/javascript">
			$(document).ready(function() {
				$(".fancybox").fancybox();
			});
		</script>


	</head>
	<body style="	background-image: href=https://truffle-assets.imgix.net/1t1bxm43v4e3_MHSXV5higK48y0qOcauoO_alfajores-sable-de-nuez-y-dulce-de-leche_landscapeThumbnail_en-US.jpeg;">
		<div id="contenido" class="content" >


			<header >
				<hgroup style="border: 5px solid red; background-color: rgba(255, 0, 0, 0.5);">
					<h1>Vista de Catalogo de Productos</h1>
				</hgroup>
				<nav>
					<ul style="border: 5px solid green;">
						<li><a href="{% url 'catalogo:index' %}">Inicio</a></li>
						<li><a href="{% url 'catalogo:vista2' %}">Listado de Productos</a></li>
						<li><a href="http://127.0.0.1:8000/">Volver al menu principal</a></li>
					</ul>
				</nav>
			</header>

			<section  >
				<div id="producto "  >
					<div class="row col-xs-3 col-md-8 col-lg-12" >
						<hgroup>
							<center style="border: 5px solid black; background-color: rgba(300, 0, 0, 0.5);">
								<h1>¿Que tipo de productos tiene?</h1>
							</center>
						</hgroup>
						<article >
							<h2><b>Somos una micro-empresa de ventas de alfajores artesanales, en la cual nos encargamos de dar ese pequeño momento de dulzura y placer al comer un alfajor hecho en casa.</b></h2>
						</article>
					</div><!-- row -->
				</div>
			</section>
		</div>

	</body>
</html>
